/* You can add global styles to this file, and also import other style files */
.invalid-feedback {
  display: block;
}


body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
