.statistic-container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  .card{
    width: 30%;
    padding: 1rem;
    text-align: center;
    p{
      font-size: 5rem;
    }
  }
}

.paginationWrapper{
  width: 88%;
  display: block;
  margin: 30px auto;
}

.paginationWrapper ::ng-deep {
   .ngx-pagination {
    li {
      background-color: #fff;
      &.current{
        background: skyblue;
      }
      &.disabled{
        background-color: unset;
      }
    }

  }
}
